<html>
    <head>
        {% block head %}
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          {% block styles %}
            {{ bootstrap.load_css() }}
          {% endblock %}
          <title>PokeEducator</title>
        {% endblock %}
        <style>
          a:hover {
            color: #bccacb;
          }
        </style>
      </head>
    <body style="background-repeat: no-repeat; height: 100%; background-size: cover; background-image: url('https://www.ssbwiki.com/images/b/b4/SSB4UPokemonStadium2Omega.jpg');">
       <div>
          <div style="background: #215153; height: 70px;">
            <a href="{{ url_for('home') }}"><h1 style="font-size: 55px; color: #fff; text-align:center;">PokeEducator</h1></a>       
          </div>

            <div style="border: 5px solid white; color: #fff;background-color: #215153;font-size: 50px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin:206px 0px 0px 561px; width:317px; height:169px; border: 0px;"> 
                {% if pokemon_winner == both_pokemon[0] %}
                  <h1 style="color: white; height: 400px; text-align: center; vertical-align: middle; padding-top: 30px;"> {{ both_pokemon[0] }} has the advantage!</h1>
                {% endif %}

                {% if pokemon_winner == both_pokemon[1] %}
                  <h1 style="color: white; height: 400px; text-align: center; vertical-align: middle; padding-top: 30px;"> {{ both_pokemon[1] }} has the advantage!</h1>
                {% endif %}

              {% if pokemon_winner == "none" %} 
                <h1 style="color: white; height: 400px; text-align: center; vertical-align: middle; padding-top: 30px;">Both equally matched!</h1>
              {% endif %}

            </div>

                {% if pokemon_winner == both_pokemon[0] %}
                    {% for pokemon in pokemon_info %}
                        {% if both_pokemon[0] == pokemon["name"] %}
                            <img src="/static/images/{{ pokemon['image_id'] }}.png"
                            width = "200"
                            height="200"
                            style = "margin-top: -70px; margin-left:340px;"
                            alt="{{pokemon_info[0]['image_id']}}"
                            >
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if pokemon_winner == both_pokemon[1] %}
                    {% for pokemon in pokemon_info %}
                        {% if both_pokemon[1] == pokemon["name"] %}
                            <img src="/static/images/{{ pokemon['image_id'] }}.png"
                            width = "200"
                            height="200"
                            style = " margin-left: 900px; margin-top:-75px;"
                            alt="{{pokemon_info[0]['image_id']}}"
                            >
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if pokemon_winner == "none" %}
                    {% for pokemon in pokemon_info %}
                        {% if both_pokemon[0] == pokemon["name"] %}
                            <img src="/static/images/{{ pokemon['image_id'] }}.png"
                            width = "200"
                            height="200"
                            style = "margin-top: -70px; margin-left:340px;"
                            alt="{{pokemon_info[0]['image_id']}}"
                            >
                        {% endif %}
                    {% endfor %}
                    {% for pokemon in pokemon_info %}
                        {% if both_pokemon[1] == pokemon["name"] %}
                            <img src="/static/images/{{ pokemon['image_id'] }}.png"
                            width = "200"
                            height="200"
                            style = " margin-left: 900px; margin-top:-200px;"
                            alt="{{pokemon_info[0]['image_id']}}"
                            >
                        {% endif %}
                    {% endfor %}
                {% endif %}
        </div>
    </body>
</html>